@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.bg-container {
    display: flex;
    justify-content: center;
    color: rgb(91, 91, 110);
    margin: 25px;
}

.price-container {
    width: 80%;
    margin: 22px;
    background-image: url("images/bg-bottom.svg"), url('images/bg-top.svg');
    background-position: left bottom, top right;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(240, 78%, 98%);
    text-align: center;
    box-shadow: 0px 0px 5px;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
}

.price-cards-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-family: Montserrat;
}

.card {
    box-shadow: 0px 0px 5px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
}

.card1 button {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.card1 {
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    background-color: white;
}

.card2 {
    color: white;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
}

hr {
    width: 75%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(176, 176, 206);
    border: 0 none;
    margin: 10px;
}

.learn-more-button {
    color: white;
    border: none;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    width: 75%;
    cursor: pointer;
}


.card2 hr {
    margin: 10px;
    background-color: white;
}

.card2 button {
    background-color: white;
    color: rgb(142, 142, 207);
}

.card2 button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.card1 button:hover {
    color: rgb(142, 142, 207);
    background-color: white;
    background-image: none;
    border: 1px solid rgb(142, 142, 207);
}

.switch {
    width: 45px;
    margin: 15px;
    padding: 3px;
    height: 25px;
    border-radius: 40px;
    background-color: rgb(142, 142, 207);
}

.slider {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: white;
    cursor: pointer;
    transition: 0.4s;
}

.price-button-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-type {
    margin: 15px;
}

.slide-chage {
    transform: translateX(20px);
    transition: 0.4s;
}

.dollor {
    font-size: 20px;
    padding: 2px;
}

.doller-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width:375px) and (max-width:787px){
    .price-cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card2 {
        transform: scale(1.0);
    }
}

@media screen and (min-width:765px) {
    .card2 {
        transform: scale(1.1);
    }

    .card2 hr {
        border: 0px none;
        height: 0.7px;
    }
}